
{% extends 'base.html' %}

{% block title %}
{% load static %}
Home page
{% endblock %}

{% block card %}
<section class="searchsec">
    <div class="search">
        <form method="get"  class ='searchh' action="{% url 'home' %}">
            <input type="search" placeholder="Search"  name="q">
            <i class="fa fa-search"></i>
            <a href="javascript:void(0)" id="clear-btn">Clear</a>
          </form>  
        </div>
</section>

<section class="categories">
  <ul class="navbar-nav custom-ul">
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="{% url 'home' %}">All</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Technology">Technology</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Education">Education</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Lifestyle">Lifestyle</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Business">Business</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Science">Science</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Personal Development">Personal Development</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Arts and Culture">Arts and Culture</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Environment and Sustainability">Environment and Sustainability</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Parenting and Family">Parenting and Family</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="?category=Sports and Fitness">Sports and Fitness</a>
      </li>
  </ul>
  
</section>
<div class="line"></div>
<div class="post"><h1>BLOGS</h1></div>
<div class="container">
  <div class="row">
{% for post in posts %}
<div class="col-md-4">
<div class="bigcard">
 
<div class="card">
  {% if post.image %}
  <img src="{{ post.image.url}}" class="card-img" alt="{{ post.title }}">
  {% endif %}
<div class="card-body">
  <h1 class="card-title"><a href="{% url 'article' post.pk %}">{{ post.title }}</a> </h1>
  <p class="card-info">{{ post.content | slice:":200"|safe }}    </p>
  <a href="{% url 'article' post.pk %}" class="card-btn">Learn More</a>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>

<footer>
    <div class="footer">
        <div class="footer-links">
            <ul>
                <li><a href="{% url 'addpost'%}">Add Post </a></li>
                <li><a href="{% url 'signup'%}">Sign Up </a></li>
                <li><a href="{% url 'login'%}">Login </a></li>
               
                
            </ul>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/stephen.angelo.581/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/StephenAng67731" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/stephennangelo/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
   
        <p class="copyright">&copy; 2024 ECHO Blog </p>
    </div>
</footer>
  


{% endblock%}  


  
  
  
  
  